<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="dashboard-container">
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="company-logo">
      <img src="assets/download.jpeg" alt="img" />
      <h2 *ngIf="!isSidebarCollapsed">Gate Access</h2>
    </div>

    <button class="toggle-btn" (click)="toggleSidebar()">
      <span class="material-icons">
        {{ isSidebarCollapsed ? 'chevron_right' : 'chevron_left' }}
      </span>
    </button>

    <nav>
      <ul>
        <li *ngFor="let page of pages" [class.active]="selectedPage === page" (click)="onChangePage(page)">
          <span class="material-icons">
            {{ pageIcons[page] }}
          </span>
          <span class="label" *ngIf="!isSidebarCollapsed">{{ page }}</span>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <button class="logout-btn" (click)="logout()" *ngIf="!isSidebarCollapsed">
        <span class="material-icons">exit_to_app</span>
        Logout
      </button>
    </div>
  </div>

  <div class="content">
    <div *ngIf="selectedPage === 'Dashboard'" class="dashboard-summary">
      <h1>Dashboard</h1>
      <div class="summary-cards">
        <div class="card">
          <h3>Registered Vehicles</h3>
          <div class="count">{{ registeredVehicles }}</div>
        </div>
        <div class="card">
          <h3>Successful Access</h3>
          <div class="count">{{ successfulAccess }}</div>
        </div>
        <div class="card">
          <h3>Denied Access</h3>
          <div class="count">{{ deniedAccess }}</div>
        </div>
      </div>
      <table *ngIf="accessLogs.length > 0" border="1">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Vehicle_id</th>
            <th>Access Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of accessLogs">
            <td>{{ log.user_id }}</td>
            <td>{{log.vehicle_id}}</td>
            <td>{{ log.entry_time | date:'short' }}</td>
            <td>{{ log.status }}</td>
          </tr>
        </tbody>

        <p *ngIf="accessLogs.length === 0">No access logs available.</p>
      </table>
    </div>

    <app-manage-users *ngIf="selectedPage === 'Manage Users and Vehicles'"></app-manage-users>
    <app-gate-video *ngIf="selectedPage === 'Process Gate Video'"></app-gate-video>
    <app-access-logs *ngIf="selectedPage === 'Access Logs'"></app-access-logs>
    <app-settings *ngIf="selectedPage === 'Settings'"></app-settings>
  </div>
</div>